<table>
    <thead>
        <tr>
            <th>sepal_length</th>
            <th>sepal_width</th>
            <th>petal_length</th>
            <th>petal_width</th>
            <th>species</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
    </thead>
    {% for result in resultss %}
    <tr>{{result["epal_length"]</tr>
    <tr>{{result["sepal_width"]</tr>
    <tr>{{result["petal_length"]</tr>
    <tr>{{result["petal_width"]</tr>
    <tr>{{result["species"]</tr>
</table>